@tailwind base;
@tailwind components;
@tailwind utilities;

.al-download-page,
.al-download-page .main-wrapper{
    background:#121212;
}

.al-download-page,
.al-download-page .main-wrapper {
    background: #121212;
}

:root {
    --ifm-footer-background-color: #0e0d0d;
}

footer {
    background: #0e0d0d;
    font-size: 14px;
}

[class*="docs-doc-id-usage_manual/mobile/tutorials/"] .table-of-contents__link:has(> .step-circle) {
    display: flex;
    gap: 12px;
}

[class*="docs-doc-id-usage_manual/mobile/tutorials/"] .table-of-contents .step-circle {
    background: #2d2d2d;
    border-radius: 50%;
    min-width: 25px;
    min-height: 25px;
    line-height: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class*="docs-doc-id-usage_manual/mobile/tutorials/"] .table-of-contents li > a:has(> .step-circle) {
    display: flex;
    align-items: center;
}

.tutorial .step-circle {
    display: inline-block;
    background-color: #2d2d2d;
    color: white;
    border-radius: 50%;
    min-width: 37px;
    min-height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
    margin-right: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.4);
}

.tutorial .step {
    display: flex;
    align-items: center;
}

.tutorial .step:first-of-type {
    margin-top: 10px;
}

.tutorial .step:not(:first-of-type) {
    margin-top: 50px;
}

.tutorial .step-text {
    flex: 1 1 auto;
    font-size: 1.25rem;
    font-weight: 600;
}

.tutorial .step-img {
    max-width: 100%;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
    display: block;
    margin-top: 8px;
    margin-bottom: 16px;
}

.badge-recommended > .menu__list-item-collapsible > .menu__link::after,
.badge-beta        > .menu__list-item-collapsible > .menu__link::after {
    display: inline-block;
    margin-left: 8px;
    padding: 4px 8px;
    font-size: 10px;
    line-height: 1;
    border-radius: 999px;
    vertical-align: middle;
}

.badge-recommended > .menu__list-item-collapsible > .menu__link::after {
    content: "Recommended";
    display: inline-block;
    margin-left: 8px;
    padding: 4px 8px 4px 18px;
    font-size: 10px;
    line-height: 1;
    border-radius: 999px;
    vertical-align: middle;
    transform: rotateZ(0deg) !important;
    background-color: #096c2b;
    color: #fff;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox%3D%220 0 24 24%22 fill%3D%22none%22 stroke%3D%22white%22 stroke-width%3D%222%22 stroke-linecap%3D%22round%22 stroke-linejoin%3D%22round%22%3E%3Cpath d%3D%22M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594z%22/%3E%3Cpath d%3D%22M20 2v4%22/%3E%3Cpath d%3D%22M22 4h-4%22/%3E%3Ccircle cx%3D%224%22 cy%3D%2220%22 r%3D%222%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: 6px 50%;
    background-size: 10px 10px;
}

.badge-beta > .menu__list-item-collapsible > .menu__link::after {
    content: "Beta";
    background: #facc15;
    color: white;
}
